name: Build Dist on GitHub Runner

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js (latest LTS)
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Debug files
        run: ls -la

      - name: Install dependencies
        working-directory: frontend